<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean Address -->
    <bean id="addressBean" class="iuh.fit.se.model.Address">
        <property name="city" value="Ho Chi Minh"/>
        <property name="state" value="South"/>
        <property name="country" value="Vietnam"/>
    </bean>

    <!-- Bean Employee (Setter Injection) -->
    <bean id="employeeBean" class="iuh.fit.se.model.Employee">
        <property name="id" value="1"/>
        <property name="name" value="Nguyen Van A"/>
        <property name="address" ref="addressBean"/>
    </bean>

    <!-- Bean Employee (Constructor Injection) -->
    <bean id="employeeConstructor" class="iuh.fit.se.model.Employee">
        <constructor-arg value="2"/>
        <constructor-arg value="Tran Thi B"/>
        <constructor-arg ref="addressBean"/>
    </bean>
</beans>
